/*keyframes*/

@keyframes pushpin {
    0% {transform: translateY(4px)}
    50% {transform: translateY(5px)}
    75% {background-size: 33px;}
    100% {transform: translateY(5px)}
}

@keyframes hover_flutter {
    0% {transform: rotate(2deg);}
    25% {transform: rotate(-4deg);}
    50% {transform: rotate(-4deg);}
    75% {transform: rotate(7deg);}
    100% {transform: rotate(2deg);}
}

@keyframes hover_flutter2 {
    0% {transform: rotate(-2deg);}
    25% {transform: rotate(4deg);}
    50% {transform: rotate(4deg);}
    75% {transform: rotate(-7deg);}
    100% {transform: rotate(-2deg);}
}